<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="WorkTimeSheet" connectionString="Server=LEO-PC; Database=WorkTimeSheet; Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
        <add name ="WorkTimeSheet1" connectionString="Data Source=2.97.209.126,1433; Network Library=DBMSSOCN; Initial Catalog=WorkTimeSheet; Trusted_Connection=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>